@import url('http://fonts.cdnfonts.com/css/cocogoose?styles=44178');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');


* {
  margin: 0;
  padding: 0;
}

body {
  width: 414px;
  font-family: 'Lato', sans-serif;
}

.header-hero-container {
  background: linear-gradient(rgba(247, 247, 247, 0.9), 30%, rgb(247, 247, 247)),
  url("./images/background-mobile.jpg") top 60% left no-repeat;
  background-size: cover;
  width: 100%;
}

header,
main,
.main-program-container {
  padding: 0 1.3rem;
}

.header-wrapper {
  padding: 1rem 0;
}

.hamburger .line {
  width: 30px;
  height: 5px;
  background-color: #383838;
  margin: 4px 0;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.intro {
  margin: 2rem 0.4rem;
}

.slogan {
  font-weight: 400;
  font-size: 1.4rem;
  color: #F53510; 
  margin: 0.5rem 0;
}

h1 {
  font-weight: 900;
  font-size: 2rem;
  text-transform: uppercase;
  color: #FF422C;
}

.about-summit {
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 1.5rem;
  color: #505050;
  background-color: #fff;
  border: 2px solid #E9E9E9;
  padding: 1rem;
}

.summit-email {
  width: 80%;
  font-size: 0.8rem;
  color: #505050;
  line-height: 1.5rem;
  margin: 1.8rem 0;
}

a {
  font-size: 0.8rem;
  color: #232323;
  font-weight: 700;
}

.line {
  background-color: #FF4F38;
  width: 30px;
  height: 1px;
  margin-top: 1rem;
}

.logo-container,
.past-summit-container {
  padding: 2rem 1.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.logo-title,
.past-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: 1.4rem;
  color: #272a31;
  font-weight: 700;
}

.logo-container p,
.past-summit-container p {
  width: 80%;
  margin: 1rem 0;
  color: #505050;
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 1.4rem;
}

.logo-img {
  background-color: #fff;
  border: 2px solid #E9E9E9;
  padding: 1rem 30%;
  margin: 1rem 0;
}

.page-line {
  width: 100%;
  height: 2px;
  background-color: #E9E9E9;
}

.past-sa-gs-img {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-container {
  background-color: rgba(162, 61, 49, 0.4);
  width: 20em;
  height: 12em;
}

.past-summit-img {
  width: 20em;
  height: 12em;
  object-fit: cover;
  mix-blend-mode: overlay;
  opacity: 0.5;
}

.past-t {
  padding: 25% 25%;
  width: 100%;
  color: #fff;
  line-height: 2.5rem;
}

.past-text-2017 {
  background: linear-gradient(rgba(189, 59, 45, 0.7), 100%, rgba(236, 82, 66, 0.7)),
  url("./images/2017.jpg") top left no-repeat;
  background-size: cover;
}

.past-text-2015 {
  background: linear-gradient(rgba(189, 59, 45, 0.7), 100%, rgba(236, 82, 66, 0.7)),
  url("./images/2015.jpg") top left no-repeat;
  background-size: cover;
  margin-top: 0.9rem;
}

.year {
  font-size: 1.7rem;
  font-weight: 900;
}

.info {
  font-size: 1rem;
  font-weight: 400;
}


