@import url('http://fonts.cdnfonts.com/css/cocogoose?styles=44178');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
}

header,
main,
.main-program-container {
  padding: 0 1.3rem;
}

.header-hero-container {
  background: linear-gradient(rgba(245, 245, 245, 0.9), 80%, rgb(245, 245, 245) ),
  url("./images/background-mobile.jpg") top 60% left no-repeat;
  background-size: cover;
  width: 100%;
}

.header-wrapper {
  padding: 1rem 0;
}

.hamburger .line {
  width: 30px;
  height: 5px;
  background-color: #555555;
  margin: 4px 0;
}

.intro {
  margin: 2rem 0.4rem;
}

.slogan {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  color: #F53510; 
  margin: 0.5rem 0;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 2rem;
  text-transform: uppercase;
  color: #FF422C;
}

.about-summit {
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 1.4rem;
  color: #505050;
  background-color: #F7F7F7;
  border: 2px solid #fff;
  padding: 1rem;
}

.summit-address {
  padding: 1.5rem 0 6rem 0;
}

.summit-address span {
  font-family: 'COCOGOOSE', sans-serif;
  font-size: 1.5rem;
  font-weight: 200;
  color: #555555;
}

.place {
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
  color: #505050;
}

.main-program {
  background: #272a31 url("./images/program-bg.png") top left repeat;
}

.main-program-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 1.3rem;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-size: 1.4rem;
}

.main-program-title {
  color: #FEFFFD;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line {
  background-color: #FF4F38;
  width: 50px;
  height: 1px;
  margin-top: 1rem;
}

.main-program-list {
  list-style: none;
  margin: 1rem 0;
}

.main-program-list .item {
  background-color: rgba(255, 255, 255, 0.1);
  color: #FEFFFD;
}

.main-program-list .item .item-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  margin: 1rem 0;
}

.icon-container {
  flex-basis: 10%;
}

.item-content .title {
  font-family: 'Lato', sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  color: #F9503A;
  flex-basis: 23%;
  margin: 0 0.1rem;
}

.item-content .description {
  font-family: 'Lato', sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  flex-basis: 60%;
}

.join-btn {
  font-family: 'Lato', sans-serif;
  font-size: 1.2rem;
  border: none;
  color: #FEFFFD;
  background-color: #F9503A;
  padding: 2rem;
}

.speakers-container {
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 1rem;
}

.featured-speakers-title {
  color: #272a31;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.speaker-cards {
  list-style: none;
  padding: 2rem 0;
}

.speaker-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.cb-dark {
  width: 45px;
  height: 45px;
}

.speaker-img {
  background: url("./images/chessboard-dark.png") top left no-repeat;
  width: 100px;
  height: 100px;
  object-fit: cover;
  padding-top: 15px;
  padding-left: 17px;
  background-size: 50%;
}

.speaker-info {
  margin-left: 0.9rem;
}

.speaker-name {
  color: #282828;
  font-size: 0.9rem;
  font-weight: 800;
  margin-bottom: 0.3rem;
}

.speaker-position {
  font-size: 0.8rem;
  font-weight: 500;
  color: #F9503A;
  font-style: italic;
}

.speaker-info-line {
  margin: 0.7rem 0;
  width: 20px;
  height: 1px;
  background-color: #dfdfdf;
}

.speaker-about {
  font-size: 0.7rem;
  line-height: 1.1rem;
}

.more-btn {
  border: 1px solid #dfdfdf;
  border-radius: 2px;
  text-transform: uppercase;
  font-size: 0.8rem;
  background-color: #fff;
  width: 100%;
  padding: 0.8rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.more-btn img {
  margin-left: 0.4rem;
}

.cb-light,
.desktop-header-wrapper,
.see-program-container,
.partners,
footer {
  display: none;
}

@media screen (min-width: 768px) {

  .cb-light,
  .desktop-header-wrapper,
  .see-program-container,
  .partners,
  footer {
    display: block;
  }

  .header-wrapper {
    display: none;
  }

}
